<nav aria-label="breadcrumb ">
  <ul class="breadcrumb shadow">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
  </ul>
</nav>

<div class="row p-2">
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'elec') && userSV.validateMenu(role.ELECTRICITY)">
    <div class="elect-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดไฟฟ้า</h5>
      </div>
    </div>
    <div class="card-body ">
      <div class="card-text ">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/electricity/ele001">บันทึกข้อมูลไฟฟ้า</a></li>
          <li><a routerLink="/electricity/ele010">บันทึกข้อมูลไฟฟ้าอัตรา TOU</a></li>
          <li><a routerLink="/electricity/ele003">จัดการการใช้ไฟฟ้า</a></li>
          <li><a routerLink="/electricity/ele002">จัดการเครื่องวัดหน่วยไฟฟ้า</a></li>
          <li routerLink="/electricity/ele004"><a>ขอใช้ไฟฟ้าของบ้านพักพนักงาน</a></li>
          <li><a routerLink="/electricity/ele005">ขอยกเลิกการใช้ไฟฟ้า</a></li>
          <li><a routerLink="/electricity/ele006">ขอเปลี่ยนเครื่องวัดหน่วยไฟฟ้า</a></li>
          <li><a routerLink="/electricity/ele007">ปรับปรุงอัตราค่าภาระ ค่าบริการไฟฟ้า</a></li>
          <li><a routerLink="/electricity/ele008">ปรับปรุงอัตราค่าภาระการคิดค่าไฟฟ้าประเภทต่างๆ</a></li>
          <li><a routerLink="/electricity/ele009">ปรับปรุงอัตราค่าภาระค่า FT</a></li> -->
        </ol>
      </div>

    </div>
  </div>
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'water') && userSV.validateMenu(role.WATER)">
    <div class="water-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดน้ำประปา</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/water/water001">บันทึกข้อมูลน้ำประปา</a></li>
          <li><a routerLink="/water/water003">จัดการการใช้น้ำประปา</a></li>
          <li><a routerLink="/water/water002">จัดการมาตรวัดน้ำประปา</a></li>
          <li><a routerLink="/water/ele009" >ขอใช้น้ำประปาแบบเหมาจ่าย</a></li>
           <li><a routerLink="/water/ele009" >ขอใช้น้ำประปาของบ้านพักพนักงาน</a></li> 
          <li><a routerLink="/water/ele009" >ขอใช้บริการน้ำประปาอื่นๆ</a></li> 
          <li><a routerLink="/water/water007">ขอยกเลิกการใช้น้ำประปา</a></li>
          <li><a routerLink="/water/water008">ขอเปลี่ยนมาตรวัดน้ำประปา</a></li>
          <li><a routerLink="/water/water009">ค่าปรับน้ำเสีย</a></li>
          <li><a routerLink="/water/water010">ปรับปรุงอัตราค่าภาระรายเดือน</a></li>
          <li><a routerLink="/water/water011">ปรับปรุงอัตราค่าภาระรายครั้ง</a></li> -->
        </ol>
      </div>
    </div>
  </div>
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0 call-card" *ngIf="(id == '' || id == 'phone') && userSV.validateMenu(role.TELEPHONE)">
    <div class="call-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดโทรศัพท์</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/phone/phone001">นำเข้าข้อมูลการใช้บริการโทรศัพท์</a></li>
          <li><a routerLink="/phone/phone002">ขอใช้งานเลขหมายโทรศัพท์</a></li>
          <li><a routerLink="/phone/phone003">ขอยกเลิกการใช้โทรศัพท์</a></li>
          <li><a routerLink="/phone/phone004">ปรับปรุงอัตราค่าภาระ ค่าบริการโทรศัพท์</a></li> -->
        </ol>
      </div>
    </div>
  </div>
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'communi') && userSV.validateMenu(role.COMMUNICATE)">
    <div class="signal-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดสื่อสาร</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/communi/communi007">รายการค่าบริการวิทยุมือถือรายเดือน</a></li>
          <li><a routerLink="/communi/communi001">ขอใช้วิทยุมือถือ</a></li>
          <li><a routerLink="/communi/communi002">รายการยกเลิกบริการวิทยุมือถือ</a></li>
          <li><a routerLink="/communi/communi0017">บันทึกค่าเช่าพื้นที่ติดตั้งอุปกรณ์ฯ แบบติดผนัง</a></li>
          <li><a routerLink="/communi/communi0011">รายการเช่าพื้นที่ติดตั้งอุปกรณ์ฯ แบบติดผนัง</a></li>
          <li><a routerLink="/communi/communi008">รายการบริการสัญญาณต่างๆ MATV/IPTV รายเดือน</a></li>
          <li><a routerLink="/communi/communi004">ขอใช้บริการสัญญาณต่างๆ MATV/IPTV</a></li>
          <li><a routerLink="/communi/communi005">รายการยกเลิกการใช้บริการสัญญาณต่างๆ MATV/IPTV</a></li>
          <li><a routerLink="/communi/communi003">ขอใช้บริการหมวดสื่อสารอื่นๆ</a></li>
          <li><a routerLink="/communi/communi006">ปรับปรุงอัตราค่าภาระการใช้บริการสื่อสาร</a></li> -->
        </ol>
      </div>

    </div>
  </div>
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0 it-card" *ngIf="(id == '' || id == 'it') && userSV.validateMenu(role.IT)">
    <div class="it-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวด IT</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/it/it011">รายการบริการเครือข่ายหมวด IT รายเดือน</a></li>
          <li><a routerLink="/it/it001">ขอใช้บริการเครือข่ายหมวด IT</a></li>
          <li><a routerLink="/it/it002">ขอใช้บริการ Staff/Public page รายเดือน</a></li>
          <li><a routerLink="/it/it003">ขอใช้บริการ Staff/Public page</a></li>
          <li><a routerLink="/it/it004">ขอใช้บริการ IT อื่นๆ</a></li>
          <li><a routerLink="/it/it005">ขอใช้บริการห้องฝึกอบรม CUTE</a></li>
          <li><a routerLink="/it/it006">ปฏิทินการจองห้องฝึกอบรม CUTE</a></li>
          <li><a routerLink="/it/it007">รายการบริการ Dedicated CUTE รายเดือน</a></li>
          <li><a routerLink="/it/it008">ขอใช้บริการ Dedicated CUTE</a></li>
          <li><a routerLink="/it/it010">ปรับปรุงอัตราค่าภาระการใช้บริการ IT</a></li> -->
        </ol>
      </div>

    </div>
  </div>
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'heavyeqp') && userSV.validateMenu(role.EQUIPMENT) ">
    <div class="wrench-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดเครื่องทุ่นแรง</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/heavyeqp/heavyeqp001">รายได้ค่าบริการเครื่องทุ่นแรง</a></li>
          <li><a routerLink="/heavyeqp/heavyeqp002">จัดการเครื่องทุ่นแรง</a></li>
          <li><a routerLink="/heavyeqp/heavyeqp004">จัดการประเภทเครื่องทุ่นแรง</a></li> -->
        </ol>
      </div>

    </div>
  </div>
  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'firebrigade' ) && userSV.validateMenu(role.FIREBRIGADE) ">
    <div class="firebrigade-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดดับเพลิง</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/firebrigade/firebrigade001">บริหารจัดการรายได้ค่าจัดฝึกอบรมการดับเพลิงและกู้ภัย</a></li>
          <li><a routerLink="/firebrigade/firebrigade002">ปรับปรุงอัตราค่าภาระจัดฝึกอบรมการดับเพลิงและกู้ภัย</a></li> -->
        </ol>
      </div>

    </div>
  </div>

  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'garbagedis') && userSV.validateMenu(role.GARBAGEDISPOSAL)">
    <div class="garbagedis-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดกำจัดขยะ</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/garbagedis/garbagedis001">บันทึกข้อมูลบริการกำจัดขยะ</a></li>
          <li><a routerLink="/garbagedis/garbagedis002">ขอใช้บริการกำจัดขยะ</a></li>
          <li><a routerLink="/garbagedis/garbagedis003">ปรับปรุงอัตราค่าภาระ ค่าบริการกำจัดขยะ</a></li> -->
        </ol>
      </div>

    </div>
  </div>

  <div class="card col-sm-4 col-md-4 col-lg-4 p-0 m-0" *ngIf="(id == '' || id == 'pos' ) && userSV.validateMenu(role.POS)">
    <div class="pos-card">
      <div class="card-body">
        <h5 class="card-title mt-3">หมวดข้อมูลยอดรายได้</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ol class="rectangle-list">
          <!-- <li><a routerLink="/pos/pos001">ข้อมูลยอดรายได้</a></li>
          <li><a routerLink="/pos/pos002">ตรวจสอบสถานะผู้ประกอบการ</a></li> -->
          <!-- <li><a routerLink="/pos/pos003">ข้อมูลยอดรายได้ของผู้ประกอบการ</a></li>
          <li><a routerLink="/pos/pos004">จัดการบัญชีผู้ประกอบการ</a></li> -->
        </ol>
      </div>

    </div>
  </div>
</div>