<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row">
    <div class="col-sm-6 text-left">
      <button-back routerLink="/settings/setting001"></button-back>
    </div>
    <div class="col-sm-6 text-right">
      <button-save routerLink="/settings/setting001"></button-save>
      <button-cancel routerLink="/settings/setting001"></button-cancel>
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-2 text-right ">
      <p>วันที่มีผล : </p>
    </div>
    <div class="col-4">
        <input-calendar></input-calendar>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2 text-right ">
      <p>ประเภท : </p>
    </div>
    <div class="col-4">
      <select class="form-control form-control-sm">
        <option> option1 </option>
        <option> option2 </option>
        <option> option3 </option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2 text-right ">
      <p>อัตราค่าภาษี : </p>
    </div>
    <div class="col-3">
      <input type="text" class="form-control form-control-sm" placeholder="">
    </div>
    <div class="col-1">
      บาท
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2 text-right ">
      <p>หมายเหตุ <span class="text-danger">*</span> :</p>
    </div>
    <div class="col-4">
      <textarea class="form-control form-control-sm"></textarea>
    </div>
  </div>

  <hr>
</app-card>