<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row ">
    <div class="col-sm-6 text-left">
      <button-back routerLink="/user/role"></button-back>
    </div>
    <div class="col-sm-6 text-right">
      <button-save (click)="onOpenModalSave()"></button-save>
      <!-- <button-cancel routerLink="/user/role"></button-cancel> -->
    </div>
  </div>
  <hr>
  <form [formGroup]="formGroup">
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>Code : <span class="text-danger">*</span></p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control form-control-sm " placeholder="ใส่รหัส" formControlName="roleCode">
      </div>
      <div class="col-2 text-right ">
        <p>Category : <span class="text-danger">*</span></p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control form-control-sm " placeholder="ใส่หมวด" formControlName="roleCategory">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>Description : <span class="text-danger">*</span></p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control form-control-sm " placeholder="ใส่คำอธิบาย" formControlName="roleDesc">
      </div>
    </div>
  </form>
</app-card>

<!-- saveModal -->
<modal-confirm #saveModal (onConfirm)="onClickSave()">
</modal-confirm>
<!-- successModal -->
<modal-success #successModal>
</modal-success>
<!-- errorModal -->
<modal-error #errorModal>
</modal-error>