<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
    <input type="text" class="form-control form-control-sm" [ngClass]="{'is-invalid': isInvalid}"
        placeholder="{{format}}" [minDate]="minDate" bsDatepicker (bsValueChange)="onDateChange($event)"
        [bsConfig]="bsConfig" [(bsValue)]="bsInlineValue" [value]="bsInlineValue | date: format" />
    <!-- [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" -->
</div>