<ng-template #modalLookup>
  <div class="modal-header">
    <p>{{header}}</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClick('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-sm inventory_related" style="width:100%">
        <thead class="text-center">
          <tr>
            <th>ผู้ประกอบการ/พนักงาน</th>
            <th>หมายเลขห้อง</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
  </div>
  <div class="modal-footer text-right">
    <button-close (click)="onClick('close')" ></button-close>
  </div>
</ng-template>